.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
